.container {
    flex-direction: column;
    text-align: center;
}
.subtitle {
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.content {
    flex-direction: column;
}
.logo-text-container{
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -10px

}
.responsive-image{
    width: 100%; 
    max-width: none; 
    height: auto;
}
