.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    flex-direction: row;
}

/* .text-container {
    max-width: 90%;
    align-items: flex-start;
    padding:10px
} */
/* .left-section {
    display: flex;
    flex-direction: column;
    width: 50%; 
    justify-content: space-between;
} */

.left-section {
    flex-direction: column;
    width: 50%;
    padding-right: 20px;
    justify-content: 'center';
    flex: 1;
}

 h2 {
    font-size: 1.5rem; 
    margin: 0;
    color: var(--color-text);
    padding-top: 10px;
    margin-left: 10px;
}
p{
    color: var(--color-text);

}

.subtitle {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px
}

.logo-text-container {
    display: flex;
    align-items: center; 
    justify-content: flex-start
  }

.text-container h3 {
    font-size: 1.2rem;
    color: #666;
    /* margin-top: 10px; */
}

h5 {
    font-size: 1rem;
    color: var(--color-text);
    margin-bottom:15;
    font-family: 'Roboto', sans-serif;
}


.benefits-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px
    
}

.containerButton {
    width: 100%;
    padding-left: 10px

}

/* .image-container {
    max-width: 50%;
    align-self: center;
} */
.image-container {
width: 50%;
}

.responsive-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo {
    width: 100px;
    height: 100px
}
.fixed-button {
    position: fixed;  /* Posiciona el botón de forma fija */
    bottom: 20px;     /* Espacio desde el fondo */
    left: 50%;        /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajusta el centro */
    z-index: 1000;    /* Asegúrate de que esté por encima de otros elementos */
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .image-container {
       text-align: center;
        }
}