.header-container {
    /* position: relative;
    width: 100%;
    height: au;  */
    /* background: linear-gradient(135deg, #FFFFFFFF, #819FFFFF);  */
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
}

.logo-container {
    position: absolute;
    top: 10px; 
    left: 10px; 
}

.logo {
    width: 50px; /* Tamaño del logo */
    height: auto;
}

.header-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.header-overlay h1 {
    font-size: 24px;
    margin: 0;
}

.header-overlay p {
    font-size: 16px;
    margin-top: 10px;
}

@media (max-width: 600px) {
    .header-container {
        height: 70px; 
    }

    .header-overlay h1 {
        font-size: 16px;
    }

    .header-overlay p {
        font-size: 12px;
    }

    .logo {
        width: 40px; /* Ajusta el tamaño del logo para pantallas más pequeñas */
    }
}