.hero-section {
    background-color: #A3D9FF; /* Azul claro para la tranquilidad */
    color: #333;
    text-align: center;
    padding: 50px 20px;
}  

.title {
    font-family: 'Poppins, sans-serif';
    font-weight: 600;
    margin-bottom: '0.5rem';
    font-size: 24;
}