.benefit-box {
    border-radius: 50px;
    margin-bottom: 10px;
    height: 95px;
}
.custom-card-content {
    padding: 0px;
    justify-content: center;
    align-items: center;
}

.benefit-icon {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    margin-left: 5px;
}
.css-46bh2p-MuiCardContent-root {
    padding: 0px;
}


.benefit-text {
    font-size: 1rem;
    color: var(--color-text);
    flex: 1;
    margin-right: 10px;
}

.content {
    justify-content: center;
    align-items: center;  
}

.row {
    display: flex; 
  align-items: center;
  justify-content: center;
}
.title {
    font-weight: bold;
}
.text {
    color: var(--color-text)
}

@media (max-width: 768px) {
    .benefit-box {
        flex-direction: row;
        align-items: center;
        /* text-align: left; */
        justify-content: center;
    }

    .benefit-icon {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .benefit-text {
        font-size: 14px;
        margin-left: 6px;
    }

    .title {
        font-size: 14px; /* Tamaño del título ajustado para pantallas medianas */
    }
}

@media (max-width: 480px) {
    .benefit-text {
        font-size: 0.8rem;
    }

    .title {
        font-size:12px /* Tamaño del título ajustado para pantallas pequeñas */
    }
}