.benefit-box {
    display: flex;
    align-items: center;
    background: linear-gradient(135deg, #FFFFFFFF, var(--color-primary));
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 8px 8px 8px var(--color-primary-rgba);
    width: 100%;
}

.benefit-icon {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.benefit-text {
    font-size: 1rem;
    color: #333;
    flex: 1;
}

.title {
    font-weight: bold;
}

@media (max-width: 768px) {
    .benefit-box {
        /* flex-direction: column; */
        align-items: flex-start;
        text-align: left;
    }

    .benefit-icon {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .benefit-text {
        font-size: 14px;
    }

    .title {
        font-size: 14px; /* Tamaño del título ajustado para pantallas medianas */
    }
}

@media (max-width: 480px) {
    .benefit-text {
        font-size: 0.8rem;
    }

    .title {
        font-size:12px /* Tamaño del título ajustado para pantallas pequeñas */
    }
}