.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding: 20px;
    overflow: hidden;
    overflow-y:auto;flex-direction: row;
}

/* .text-container {
    max-width: 90%;
    align-items: flex-start;
    padding:10px
} */
/* .left-section {
    display: flex;
    flex-direction: column;
    width: 50%; 
    justify-content: space-between;
} */

.left-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 20px;
    display: flex;
    justify-content: 'center';
}

 h2 {
    font-size: 1.5rem; 
    margin: 0;
    color: var(--color-text);
    padding-top: 10;
}
p{
    color: var(--color-text);

}

.subtitle {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-text-container {
    display: flex;
    align-items: center; 
  }

.text-container h3 {
    font-size: 1.2rem;
    color: #666;
    /* margin-top: 10px; */
}

h5 {
    font-size: 1rem;
    color: var(--color-text);
    margin-bottom:15;
    font-family: 'Roboto', sans-serif;
}


.benefits-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* .image-container {
    max-width: 50%;
    align-self: center;
} */
.image-container {
    width: 50%; /* Ocupa el 50% del ancho */
    height: 100%; /* Ocupa todo el alto disponible */
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-image {
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: 100%; /* Mantiene la proporción de la imagen */
}

.logo {
    width: 100px;
    height: 100px
}

/* Diseño para pantallas pequeñas */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .left-section{
        width: 100%;
        padding: 0;
    }

    .image-container {
        position: static; /* Elimina el position absoluto */
        width: 80%; /* Ajusta el tamaño de la imagen en móviles */
        margin: 20px auto; /* Centra la imagen */
        transform: none; /* Remueve el translate que puede causar desajustes */
        top: auto;
        width: 100%;
    }

    .subtitle {
        order: 1;
    }

    .benefits-container {
        order: 3;
        margin-top: 0;
    }

    h2 {
        font-size: 16px;
        color: var(--color-text
        );
    }

    .h5 {
        font-size: 14px;
    }

    .p {
        font-size: 12px;
    }

    .benefits-container {
        margin-top: 5px;
    }

    .benefit-box {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        align-items: center;
        width: 100%;
        max-width: 100%; 
        box-sizing: border-box;
    }

    .benefit-icon {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .benefit-text {
        font-size: 0.9rem;
    }

    .responsive-image {
        width: 100%;
        margin-top: 20px;
    }
}

@media (min-width: 1360px) and (max-height: 600px) {
    .container {
        height: 90vh; /* Ocupa el 90% del alto de la ventana */
    }

    .image-container {
        width: 40%; /* Ajusta el tamaño de la imagen */
        margin-right: 20px;
    }
}

@media (max-width: 480px) {
    .text-container h1 {
        font-size: 16px; 
    }

    .benefit-text {
        font-size: 0.9rem;
    }

    .responsive-image {
        width: 100%;
    }

    .image-container {
        width: 80%; 
        margin: 20px auto; 
        position: relative; /* Quitar el position absolute para móviles */
        top: auto; /* Remover el posicionamiento vertical */
        transform: none; /* Eliminar transform */
    }
}