@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
.App {
    height: 100vh;
    /* background: linear-gradient(75deg, #FFFFFFFF, #819FFFFF);  */
    /* display: flex; */
    justify-content: center;
    /* align-items: center; */
    font-family: 'Roboto', sans-serif;
    background-color: 'white';
    color-scheme: light;

}
body, html {
    margin: 0;
    padding: 10;
    height: 100%;
    width: 100%;
    color-scheme: light;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --color-primary: #819fffff;
    --color-primary-rgba: rgba(134, 208, 253, 0.1);
    --color-secondary: #86d0fdff;
    --color-secondary-rgba: rgba(134, 208, 253, 0.1);
    --color-quaternary: #d7f4f4ff;
    --color-text: #2E4D83FF;
    --background: #EEF3FF;
  }

