.App {
    height: 100vh; /* Asegura que el contenedor ocupe toda la pantalla */
    /* background: linear-gradient(75deg, #FFFFFFFF, #819FFFFF);  */
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    color-scheme: light;
    overflow: auto;

}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color-scheme: light;
}

:root {
    --color-primary: #819fffff;
    --color-primary-rgba: rgba(134, 208, 253, 0.1);
    --color-secondary: #86d0fdff;
    --color-secondary-rgba: rgba(134, 208, 253, 0.1);
    --color-quaternary: #d7f4f4ff;
    --color-text: #2E4D83FF;
    --background: #EEF3FF;
  }

